body {margin:0px; padding: 0px;}
.header {margin: 0px; padding: 10px; background: cornflowerblue;}
.header a {padding: 10px; font-size: 16px; font-weight: bold; color: white; text-decoration: none;}

.button {padding: 10px; background:cornflowerblue; font-weight: bold; color: white; text-decoration: none;}

.box {padding: 20px;}

input {font-size: 16px; height: 30px;}

dd {font-size: 24px; padding: 10px; padding-left: 0px; margin-inline-start:0px}